@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/StyleSheet.css" rel="stylesheet" />

    <div class="text-center">
        <h1 class="display-4" >Welcome</h1>
        <h1 class="display-4">Document Vault</h1>
        

        </div>

    
